<% Station.first.albums.where('id < 10').find_each do |a| %>
	<tbody>
      <tr>
        <td><%= a.genre %></td>
        <td><%= a.name %></td>
        <td><%= a.lastfm_id %></td>
        <td><%= a.artist_id %></td>
      </tr>
    </tbody>
<% end %>