<div class="container log-in">
<div class="panel panel-primary">
<div class="panel-heading">
<h2>Editing Station</h2>

<div class="panel-body">
	<%= render 'form' %>

</div>
</div>
</div>
</div>


<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>
