<div class="container log-in">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1>Editing Album</h1>

			<div class="panel-body">
				<%= render 'form' %>

			</div>
		</div>
	</div>
</div>