<div class="col-sm-12">
  <div class="tabs">
    <ul class="tab-links" id = "please_center_a" style="display:block;">
      <li class="active"><a href="#tab1">Cover View</a></li>
      <li><a href="#tab2">List View</a></li>

    </ul>

    <div class="tab-content">
    
      <div id="tab1" class="tab active">
        <div id="a_display">
          <%= render partial:'cover_list' %>
        </div>
      </div>

      <div id="tab2" class="tab">
        <div id="make_small_recent">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Album</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Location</th>
                <th>Released</th>
              </tr>
            </thead>
            <%= render partial:'alb_list', :locals => {:sortby => 'artist'} %>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</div>

