// Place all the styles related to the LastFMSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#custom_display{
	tbody{
		tr{
			background-color: #00CC66;
		}
	}
	
}

#custom_display{
	thead{
		tr{
			background-color: #005229;
			font-size: 30pt;
			text-color: #005229;
		}
	}
	
}