// Place all the styles related to the LastFMSearch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#custom_display{

	img{
		background-color: #96BFF2;
	color: #2e7fe6;
	}

	border: 15px solid white;


	color: #black;


}

#mybutton{
color: #005229;
}