// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#album_link{
    
    div a:link{

    }
    div a:hover{
        text-decoration: none;
        background-color: #FF704D;
    }

    :visited{
        text-decoration:none;
    }
}

.link2
{

   background-color: #96BFF2;
   color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   display: inline-block;

}

.link2:hover{

   background-color: #2e7fe6;
   color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   display: inline-block;
   
}

.link3
{
   border: solid 2px #aaa;
   border-radius: 3x;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #96BFF2;
   color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   display: inline-block;

}

.link3:hover{
   border: solid 2px #aaa;
   border-radius: 3x;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background-color: #2e7fe6;
   color: #ffffff;
   text-decoration: none;
   font-weight: bold;
   margin: 10px 3px 10px 3px;
   padding: 3px;
   display: inline-block;
   
}



#a_display{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#dj_link{

    
        text-decoration: none;
    
    :hover{
        text-decoration: none;
        background:#5899EB;
    }            
}


#make_small_bio{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

#make_small_recent{
    margin-left: 50px;
    margin-right: 150px;
    margin-top: 15px;
}


#please_center_s{
    margin-left: auto;
    margin-right: auto;
    width: 80%;    
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

    .tab-links a {
        padding:9px 15px;
        display:inline-block;
        border-radius:3px 3px 0px 0px;
        background: #96BFF2; 
        font-size:16px;
        font-weight:600;
        color: black;
        transition:all linear 0.15s;
    }

    .tab-links a:hover {
        background:#5899EB;
        text-decoration:none;
    }

li.active a, li.active a:hover {
    background:#2e7fe6;
    color: black;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    
    background:#fff;
}

    .tab {
        display:none;
    }

    .tab.active {
        display:block;
    }
