<div id="searchContainer">
<div id="search">
  <input class="form-control song" type="text" name="song" placeholder="Song Title..."/>
  <input class="form-control album" type="text" name="album" placeholder="Album Name..."/>
  <input class="form-control artist" type="text" name="artist" placeholder="Artist Name..."/>
</div>
  <button class="btn btn-large btn-default" id="addSong">Add Song</button>
</div>
<script id='musicTypeahead'>
  var song_engine = new Bloodhound({
    datumTokenizer: function(d) { return d.title; },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/songs/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  song_engine.initialize();
  $(".song").typeahead(
    {hint: false},
  {
    displayKey: 'title',
    source: song_engine.ttAdapter()
  });
  
  var album_engine = new Bloodhound({
    datumTokenizer: function(d) { return d.name; },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/albums/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  album_engine.initialize();
  $(".album").typeahead(
    {hint: false},
  {
    displayKey: 'name',
    source: album_engine.ttAdapter()
  });
  
  var artist_engine = new Bloodhound({
    datumTokenizer: function(d) { return d.name; },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/artists/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  artist_engine.initialize();
  $(".artist").typeahead(
    {hint: false},
  {
    displayKey: 'name',
    source: artist_engine.ttAdapter()
  });
  
  $("addSong").click(function(e) {
    e.preventDefault();
    
  })
</script>
