<table id="songTable" class="table">
  <tr>
    <th>Time Played</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Duration</th>
    <th>Location</th>
  </tr>

</table>
<div id="playlistContainer"></div>
<script>
  var Playlist = new PlaylistModel({id: <%= @playlist.id%>}).fetch();
  var Songs = new SongList;
</script>

<script type="text/template" id="songTemplate">
  <td>{{time_played}}</td>
  <td>{{title}}</td>
  <td>{{artist}}</td>
  <td>{{album}}</td>
  <td>{{duration}}</td>
  <td>{{location}}</td>
</script>