<table id="songTable" class="table table-striped table-bordered table-hover">
  <thead>
    <th>Time Played</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Duration</th>
    <th>Location</th>
    <th colspan="1"></th>
  </thead>
  <tbody id="songBody"></tbody>

</table>
<div id="playlistContainer"></div>
<script>
  var Playlist = new PlaylistModel({id: <%= @playlist.id%>}).fetch({
    success: function() {
      var Songs = new SongList(Playlist.responseJSON.songs);
      var SongsView = new SongListView({collection: Songs}).render();
    },
    
    error: function() {
      console.log("Failed to fetch");
    }
  });
</script>
