<table id="songTable" class="table">
  <tr>
    <th>Time Played</th>
    <th>Song</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Duration</th>
    <th>Location</th>
  </tr>

<%= react_component('Song', {title: 'Test Song', artist:'Tinashe', album: '2 On - Single'}, {tag:'tr'}) %>
</table>
<div id="playlistContainer"></div>
