<table id="songTable" class="table">
  <tr>
    <th>Song</th>
    <th>Album</th>
    <th>Artist</th>
    <th>Time Played</th>
  </tr>
  <% @playlist.playlist_songs.each do |p_song| %>
    <tr>
      <td><%= p_song.song.title %></td>
      <td><%= p_song.song.album.name %></td>
      <td><%= p_song.song.album.artist.name %></td>
      <td><%= p_song.time_played %></td>
    </tr>  
  <% end %>
</table>
