<!DOCTYPE html>
<html>
<head>
	<title>Album Added</title>
</head>
<body>
	<p>Album Added</p>
	
	<a href="/albums/<%=@album_id%>/edit"><button type="button" class="btn btn-primary">Edit Album</button></a>
</body>
</html>