<table border = "1">
<tr>
<td>Name</td>
<td><%= @album_name %></td>
</tr>
<tr>
<td>Artist</td>
<td><%= @album_artist %></td>
</tr>
<tr>
<td>Art</td>
<td><img src="<%= @album_image_small %>"></td>
</tr>
</table>