<!DOCTYPE html>
<head>
  <title>Simple Search Form</title>
</head>
<body>
  <%= form_tag(:action => "display") do %>
      <p>Name: <%= text_field_tag("query", "Web Programmer") %></p>

     <%= submit_tag("Search") %>

     <% end %>
</body>